<style>

    #Transactions th {
        font-size: smaller;
    }

    #Transactions td {
        font-size: x-small;
    }

</style>


<div class="container">

    <div class="page-header">Transaction list</div>
    <div id="LoadingDiv"><img src="~/Content/images/loader.gif" alt="Loading..." title="Loading..." /></div>
    <table class="table table-bordered table-condensed table-hover" id="Transactions">
        <tr>
            <th>POS</th>
            <th>Created<br />(UTC)</th>
            <th>Status</th>
            <th>Product name</th>
            <th>Price<br />requested | paid</th>
            <th>Customer info</th>
            <th>Bank</th>
            <th>Is test</th>
            <th>Is paid</th>
            <th>Payment time<br />(UTC)</th>
            <th>Order ID / PaySystemUid</th>
            <th></th>
        </tr>
        <tbody id="TransactionsBody">
            <tr>
                <td colspan="12">No transactions</td>
            </tr>
        </tbody>
    </table>

</div>

<div id="ProductInfoDiv">
    <table>
        <tr>
            <td>Name:</td>
            <td id="ProductName"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td id="ProductPrice"></td>
        </tr>
        <tr>
            <td>Location:</td>
            <td id="LocationName"></td>
        </tr>
    </table>
</div>

@section scripts
{

    <script type="text/javascript">

        var Transactions = {
            transactionsBlock: null,
            loadingDiv: null,

            init: function () {
                this.transactionsBlock = $("#TransactionsBody");
                this.loadingDiv = $("#LoadingDiv");
                this.loadingDiv.hide();
                $("#ProductInfoDiv").dialog({
                    autoOpen: false,
                    width: 500
                });
            },

            loadTransactionsForPage: function (posId, pageNr) {
                if (posId == "") {
                    return;
                }
                var self = this;

                self.loadingDiv.show();
                $.ajax({
                    url: "@Url.Action("GetLast")/" + posId,
                    method: "POST",
                    success: function (data) {
                        self.transactionsBlock.html(data);
                        self.bindLinks();
                    },
                    error: function (x, s, e) {
                        alert("Error loading transactions: " + e);
                    },
                    complete: function () {
                        self.loadingDiv.hide();
                    }
                });
            },

            loadProductInfo: function (productUid) {
                if (productUid == "") {
                    return;
                }

                $("#ProductName").html("");
                $("#ProductPrice").html("");
                $("#LocationName").html("");

                $.ajax({
                    url: "@Url.Action("GetProduct", "TranAdmin")",
                    data: { productUid: productUid },
                    method: "POST",
                    success: function (data) {
                        $("#ProductName").html(data.ProductName);
                        $("#ProductPrice").html(data.ProductPrice);
                        $("#LocationName").html(data.Location);
                        $("#ProductInfoDiv").dialog("open");
                    }
                });
            },

            bindLinks: function () {
                var self = this;
                $(".gs-product-info").click(function (e) {
                    e.preventDefault();
                    self.loadProductInfo($(e.target).attr("data-product-uid"));
                });
            }
        };

        $(function () {
            Transactions.init();
            Transactions.loadTransactionsForPage("@Request["posId"]", 1);
        });

    </script>

}
