@{
    ViewBag.Title = "About us";
}

<div class="jumbotron">
    <p class="lead">Our goal is to provide every small website with gift coupons</p>
    <p><a href="mailto:vida@interateitis.lt" class="btn btn-primary btn-lg">Write Vida and ask</a></p>
</div>
