@{
    ViewBag.Title = "Apie mus";
}

<div class="jumbotron">
    <p>Gerbiamieji,</p>

    <p>
        Ačiū, kad užsukote į svetainę <a href="http://www.dovanukuponai.com">DovanuKuponai.com</a>
        Neabejokite, Jūs pataikėte ten, kur reikia.
    </p>

    <p>
        Šis projektas skirtas visoms nedidelėms ir vidutinėms įmonėms, teikiančioms įvairias paslaugas.
        Visi žinote, kas yra čekis, kuponas, dovanų kuponas.
        Visi esate girdėję bent keletą skambių tinklapių pavadinimų, kur galima įsigyti dovanų kuponus ir čekius.
    </p>

    <p>
        Mes nesame skambūs. Mūsų projektas skirtas taupiems užsakovams. Mes tyliai ir pigiai stengsimės padėti Jums įsigyti kokybiškas paslaugas, už kurias kitur mokėtumėte labai brangiai...
    </p>

    <p>
        <ul>
            <li>Jums tereikia nurodyti savo tinklapį, kur būtų surašytos paslaugos su kainomis;</li>
            <li>
                užpildyti @Html.ActionLink("užsakymo formą", "Contact", "Home");
            </li>
            <li>
                padesime sukurti sąskaitą Payseros ir/ar PayPal mokėjimo sistemose.
            </li>
            <li>
                Mes suteiksime galimybę parduoti savo paslaugas tiesiai iš Jūsų svetainės.
            </li>
            <li>
                Jūsų klientai įsigys kuponus ar dovanų čekius - tiesiai iš Jūsų svetainės.
            </li>
            <li>Ir visa tai - už minimalią sutartinę kainą.</li>
</ul>
    </p>

    <p>Susisiekite! Laukiame... iki</p>
    <p><a href="mailto:vida@dovanukuponai.com" class="btn btn-primary btn-lg">Rašykite Vidai</a></p>
</div>
