<p></p>
<div class="alert alert-danger">
    <h4>Sorry, @Html.ActionLink("DovanuKuponai.com", "Index", "Home") could not find page you want.</h4>
    <p>Please write your suggestions to <a href="mailto:webmaster@dovanukuponai.com">webmaster</a> or contact <a href="mailto:vida@dovanukuponai.com">Vida</a> directly in case you want some promotions.</p>
</div>
