@model GiftService.Models.Texts.TextModule

@{
    //ViewBag.Title = "KUPONO ĮSIGIJIMO TAISYKLĖS";
    ViewBag.Title = Model.Title;
}

<div class="container">
    <h4>@ViewBag.Title</h4>
    @Html.Raw(Model.Text)
</div>

