@{
    ViewBag.Title = "KUPONO ĮSIGIJIMO TAISYKLĖS";
}
<h2>@ViewBag.Title</h2>

<ol>
    <li>Mūsu puslapyje Jūs galite įsigyti Kuponą pageidaujamai paslaugai.</li>

    <li>
        Paspaudus mygtuką PIRKTI matote formą, kurią reikia užpildyti. Pasirenkate saloną, kur bus atlikta paslauga. Nurodykite pirkėjo Vardą, telefono numerį, el.paštą bei galite palikti komentarą.
    </li>

    <li>
        Spaudžiate mygtuką „Pay using paysera“ ir būsite prijungti prie Payseros sistemos (per kurią galėsite susimokėti už paslaugą). Pirkėjui sugeneruojamas mokėjimas. Pirkėjas pinigus į Pardavėjo atsiskaitomąją sąskaita perveda pagal pasirinktojo banko taikomus įkainius ir taisykles.
    </li>

    <li>
        Po apmokėjimo svetainėje matysite savo įsigytą KUPONĄ PDF formatu. Išsisaugokite ir atsispaudinkite. Taip pat gausite elektroninį laišką į el.paštą.
    </li>

    <li>
        Susisiekite su masažiste nurodytu telefonu ir suderinkite paslaugos atlikimo datą.
    </li>

    <li>
        Kupono galiojimo laikas – 3 mėnesiai nuo įsigyjimo datos.
    </li>

    <li>Nepanaudojus kupono per nurodytą galutinį kupono galiojimo laikotarpį kuponai nekeičiami ir (ar) pinigai negrąžinami.</li>

</ol>
    <p>Sėkmės! Ačiū, kad naudojatės ritosmasazai.lt paslaugomis.</p>
