<div class="alert alert-warning">@Resources.Language.Payment_Cancel_YouCancelledYourPayment</div>
<div class="alert alert-info">@Resources.Language.Payment_Cancel_BackToProductPage <a href="http://www.ritosmasazai.lt/lt/7/price">RitosMasazai</a></div>