@model GiftService.Models.PosBdo

<div class="alert alert-warning">@Resources.Language.Payment_Cancel_YouCancelledYourPayment</div>

@if (Model != null)
{
    <div class="alert alert-info">@Resources.Language.Payment_Cancel_BackToProductPage <a href="@Model.PosUrl">@Model.Name</a></div>
}