@{ 
    string msg = ViewBag.Message as string;
}
<div class="row">
    <div class="col-sm-9 col-sm-offset-1 alert alert-danger">
        @Resources.Language.Payment_Incorrect_ErrorMakingPayment
        @if (String.IsNullOrEmpty(msg) == false)
        {
            <br />@msg
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-9 col-sm-offset-1 alert alert-info">
        @Resources.Language.SystemMessage_WeWillContactYouOnError
    </div>
</div>
