@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var posRitosMasazai = new GiftService.Models.PosBdo();
    posRitosMasazai.Id = 1005;

    char[] ca = Guid.NewGuid().ToString().Replace("-", "").Substring(0, 16).ToCharArray();
    ca[1] = '1';
    ca[4] = '0';
    ca[7] = '0';
    ca[10] = '5';
    string posUserUid = new string(ca);

}

<h2>Index</h2>

@(12.5m.ToString("C"))

@using (Html.BeginForm("Make", "Payment", new { id = posUserUid }))
{
    <input type="text" value="@posUserUid" size="40" /><br />
    <button class="btn btn-primary btn-sm">Pay</button>
}
